MONGO_URL=mongodb://root:example@localhost:27017/
MONGO_DB=assignment_db

# Cors
SECURITY_CORS_ALLOW_ORIGIN="http://localhost:4200,*"
SECURITY_CORS_ALLOW_METHODS="GET, POST, OPTIONS, PUT, PATCH, DELETE"
SECURITY_CORS_ALLOW_HEADERS="X-Requested-With,Content-type,Authorization"
SECURITY_CORS_ALLOW_CREDENTIALS=true

# JWT
SECURITY_JWT_SECRET=d5951f0a-25b6-45f4-9b91-70a6b1fca0b0
